<style type="text/css">

.news-detail {
height: 130px;
}

.col-md-9 .owl-wrapper-outer .owl-item {
float: left;
width: 155px !important;
}
.owl-carousel {
margin-left: 1px !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
content: url("https://bit.ly/34JTRAc") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
content: url("https://bit.ly/2Jp6Hwr") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
content: url("https://bit.ly/3nXAjjA") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
content: url("https://bit.ly/3mTY4Yq") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
content: url("https://bit.ly/3rwGtsS") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
content: url("https://bit.ly/2KE47TP") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
content: url("https://bit.ly/3aKAAm7") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
content: url("https://bit.ly/3aYPLZ9") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
content: url("https://bit.ly/3mVlooB") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
content: url("https://bit.ly/3rvE8P5") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
content: url("https://bit.ly/34OCs9t") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
content: url("https://bit.ly/3rwJ0Dn") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
content: url("https://bit.ly/2MbLKWO") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
content: url("https://bit.ly/3mMKTsc") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
content: url("https://bit.ly/3aJ8w2s") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
content: url("https://bit.ly/3rxdTrv") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
content: url("https://bit.ly/2L01rQk") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
content: url("https://bit.ly/3aKvJBc") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
content: url("https://bit.ly/3mNuMdS") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
content: url("https://bit.ly/37RZeiC") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {
content: url("https://bit.ly/34NDbb4") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {
content: url("https://bit.ly/3aPoVSW") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(23) {
content: url("https://bit.ly/3rAoHVF") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(24) {
content: url("https://bit.ly/2JrdxS4") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(25) {
content: url("https://bit.ly/38FFOg5") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(26) {
content: url("https://bit.ly/37XeCdX") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(27) {
content: url("https://bit.ly/2KwlTIM") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(28) {
content: url("https://bit.ly/37SPbtH") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(29) {
content: url("https://bit.ly/34QNnQe") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(30) {
content: url("https://bit.ly/2WOH7UD") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(31) {
content: url("https://bit.ly/3psbmwN") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(32) {
content: url("https://bit.ly/3hoo1hB") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(33) {
content: url("https://bit.ly/3mXbT8m") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(34) {
content: url("https://bit.ly/3pttsi1") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(35) {
content: url("https://bit.ly/3aJTMjJ") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(36) {
content: url("https://bit.ly/3aQjseD") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(37) {
content: url("https://bit.ly/2JspMOi") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(38) {
content: url("https://bit.ly/3mUMw72") !important;
}

border: 1px solid transparent !important;
padding: 2px !important;
}

</style>
